.calculator {      
    width: 300px; 
    margin: 50px auto; 
    background-color: #ff8000; 
    padding: 20px; 
    border-radius: 10px; 
}
.display {
    background-color: #f3efef; 
    color: #010101; 
    font-size: 40px; 
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 10px;  
    border-radius: 15px; 
    margin-bottom: 15px;
}
.buttons {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}
.buttons button {
    background-color: #fff;
    color: #333;
    font-size: 20px;
    padding: 15px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}
